<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Amazon" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :custom, media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :swiper, media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :modal, media: "all", "data-turbo-track": "reload" %>
     <%= stylesheet_link_tag :stripe, media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <%if controller_name = 'prime_payment_controller'%>
    <%= stripe_javascript_tag %>
    <%end%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>

  <body>
    <% unless  controller_path == 'devise/registrations' || controller_path == 'devise/sessions' %>
    <%= render 'layouts/header' %>
    <% end %>
    <%= render 'shared/notice' %>
    <%= render 'shared/alert' %>
      <%= yield %>
    
  </body>
</html>
